/* reset */
body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* style xs */
/* style sm */
/* style md */
/* style lg */
/* styles */
/* styling xs */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .navbar {
    padding: 0.2rem;
  }
}
.navbar a {
  font-size: 1.2rem;
  padding: 0 0.5rem;
}
.navbar .brand {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.navbar .brand i {
  font-size: 1.7rem;
}
.navbar .search-input {
  display: none;
}
@media (min-width: 650px) {
  .navbar .search-input {
    display: flex;
    margin-left: auto;
    width: 30%;
    padding: 0.5rem 0.75rem;
    border: 1px solid black;
    border-radius: 25px;
  }
  .navbar .search-input input {
    width: 100%;
    border: none;
  }
}
.navbar .search {
  margin-left: auto;
}
@media (min-width: 650px) {
  .navbar .search {
    margin-left: unset;
  }
}
.navbar .mic {
  display: none;
}
@media (min-width: 430px) {
  .navbar .mic {
    display: flex;
  }
}
@media (min-width: 650px) {
  .navbar .mic {
    margin-right: auto;
  }
}
.navbar .signin {
  font-size: 0.95rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.navbar .signin i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
@media (max-width: 320px) {
  .navbar .signin .text {
    display: none;
  }
}

.filters ul {
  display: flex;
}
.filters ul .btn-explore {
  display: none;
}
.filters ul li {
  white-space: nowrap;
}
.filters ul a {
  display: inline-block;
  border: 1px solid none;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  margin: 0.75rem auto;
  background-color: rgb(234, 232, 232);
  color: black;
}
.filters ul a:hover {
  background-color: rgb(156, 154, 154);
  transition: 0.15s;
}
.filters ul .btn-all {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  margin: 0.75rem auto;
  margin-left: 4rem;
  background-color: black;
  color: white;
  cursor: pointer;
}

.drawer {
  transition: 0.5s;
  position: fixed;
  left: -500px;
}
.drawer.open {
  left: 0;
}
.drawer li {
  margin-bottom: 5px;
}
.drawer i {
  display: inline-block;
  margin-right: 20px;
}
.drawer .divider {
  border-top: 1px solid black;
  margin-top: 5px;
}

.dropdown-wrapper {
  position: relative;
}
.dropdown-wrapper label {
  cursor: pointer;
  padding: 0 1em;
}
.dropdown-wrapper .dropdown {
  position: absolute;
  margin: 0;
  padding: 1em;
  right: 0;
  z-index: 1000;
  background-color: white;
  display: none;
}
.dropdown-wrapper #dropdownToggle {
  display: none;
}
.dropdown-wrapper #dropdownToggle:checked + .dropdown {
  display: block;
}

.content {
  margin: 2rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.content .grid-content {
  display: grid;
  padding: 20px 30px;
  grid-template-columns: 320px;
  grid-template-rows: repeat(8, 1fr);
}
@media (min-width: 900px) {
  .content .grid-content {
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .content .grid-content {
    grid-template-columns: repeat(4, 320px);
    grid-template-rows: repeat(2, 1fr);
  }
}
.content .grid-content .cont {
  margin: 50px auto;
}
.content .grid-content .cont h3, .content .grid-content .cont p {
  margin: 0.75rem;
}
.content .grid-content .cont img {
  border-radius: 15px;
}/*# sourceMappingURL=styles.css.map */